<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="spring.jpa.database-platform">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/shareappdb</property>
        <property name="hibernate.connection.username">ilham</property>
        <property name="hibernate.connection.password">mysecretpassword</property>
        <property name="spring.jpa.hibernate.ddl-auto">update</property>

        <mapping class="api.entities.File"/>
        <mapping class="api.entities.AppUser"/>
        <mapping class="api.entities.Post"/>
    </session-factory>
</hibernate-configuration>
